#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.imagePop {
  z-index: 9999;
  margin: auto;
  width: 80%;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
