article {
  display: flex;
  flex-direction: row;
  width: 25%;
}
.cardBeast {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  min-width: 300px;
}
.cardImage {
  width: 100%;
}
.title {
  font-weight: bold;
}
.button {
  background-color: rgb(130, 168, 240);
  margin-left: 1rem;
}
.favs {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgb(69, 3, 114);
  color: lavender;
}
.favs p {
  margin: 1rem;
}